<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  cfg dependnet class as spring bean -->
<bean id="dtdc" class="com.nit.beans.DTDCCurrier"/>
<bean id="bDart" class="com.nit.beans.BlueDartCurrier"/>

<!--  cfg dependent class -->
<bean id="flipkart" class="com.nit.beans.Flipkart">
<property name="currier" ref="dtdc"/>
</bean>

</beans>
