<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- cfg dependent class -->
	<bean id="date" class="java.util.Date" />

	<!-- cfg target class -->
	<bean id="wmg" class="com.nit.beans.WishMassageGenrator">
	</bean>
	
	<!-- autowiredBeanPostProcessor Cfg -->   <!-- autowired annotation can not to anything by its own we have to cfg beanPostProcessor to make them work -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	
</beans>
