<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- cfg dependent class -->
	<bean id="dt1" class="java.util.Date"  />   <!-- 1st Way  primary="true" -->
	<bean id="dt" class="java.util.Date">
	<property name="year" value="100"/>
	</bean>

	<!-- cfg target class -->
	<bean id="wmg" class="com.nit.beans.WishMassageGenrator">
	</bean>
	
	<!-- autowiredBeanPostProcessor Cfg -->   <!-- autowired annotation can not to anything by its own we have to cfg beanPostProcessor to make them work -->
<!-- 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
	<context:annotation-config />
</beans>
